# Temporary raw list of dependencies for ChoCo (to be reformatted)
# Please, include the version of each package when possible
pandas (conda)
numpy (conda)
matplotlib (conda)
seaborn (conda)
music21 (pip)
jams (pip)
joblib (conda)
tqdm (conda)
pyRealParser (pip)
textdistance (conda-forge)
unidecode (conda-forge)