# Temporary raw list of dependencies for ChoCo (to be reformatted)
# Please, include the version of each package when possible
pandas~=1.4.1
numpy==1.23.5  # this is the last version of numpy compatible with current jams version
matplotlib~=3.5.1
music21~=7.1.0
jams~=0.3.4
joblib==1.2.0
tqdm>=4.66.3
pyRealParser==0.1.0
textdistance==4.2.2
unidecode==1.3.4
pyrealparser~=0.1.0
lxml>=4.9.1
seaborn~=0.11.2
lark~=1.1.2
rdflib~=6.1.1
beautifulsoup4~=4.10.0
setuptools>=70.0.0
biab-library~=0.4.1
harte_library>=0.4.5