# Temporary raw list of dependencies for ChoCo (to be reformatted)
# Please, include the version of each package when possible
pandas==1.4.1 (conda)  # mismatch with Andrea (to check)
numpy==1.21.2 (conda)  # mismatch with Andrea (to check)
matplotlib===3.5.1 (conda)  # same
seaborn==0.11.2 (conda)  # mismatch with Andrea (to check)
music21==7.1.0 (pip)  # mismatch with Andrea (to check)
jams==0.3.4 (pip)  # same
joblib==1.1.0 (conda)  # same
tqdm==4.64.0 (conda)  # same
pyRealParser==0.1.0 (pip)
textdistance==4.2.2 (conda-forge)
unidecode==1.3.4 (conda-forge)
jams~=0.3.4
pandas~=1.4.2
utils~=1.0.1
matplotlib~=3.5.1
numpy~=1.22.3
music21~=7.3.1
tqdm~=4.64.0
joblib~=1.1.0
lxml~=4.8.0
seaborn~=0.11.2
lark~=1.1.2
rdflib~=6.1.1
beautifulsoup4~=4.10.0
setuptools~=61.2.0