*.MG1
*.MG2
*.MG3
*.MG4
*.MG5
*.MG6
*.MG7
*.MG8
*.MG9
*.MGA
*.MGB
*.MGC
*.MGD
*.MGE
*.MGF
*.MGG
*.MGH
*.MGI
*.MGJ
*.MGK
*.MGL
*.MGM
*.MGN
*.MGO
*.MGU
*.MGX
*.Mg1
*.Mg2
*.Mg3
*.Mg4
*.Mg6
*.Mg7
*.Mg8
*.Mg9
*.Mgb
*.Mgc
*.Mge
*.Mgf
*.Mgh
*.Mgi
*.Mgl
*.Mgm
*.Mgn
*.Mgu
*.Mgx
*.SG1
*.SG4
*.SGU
*.md
*.mgu
